@media (max-width: 768px) {
    .logo {
        width: 200px;
        height: 80px;
    }

    h1 {
        font-weight: 600;
        font-size: 2rem;
    }
    
    h2 {
        font-weight: 500;
        font-size: 1.5rem;
    }

    p {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    button {
        font-weight: 500;
        padding-right: 15px;
        padding-left: 15px;
        height: 40px;
    }

    .contact_form {
        margin-bottom: 25px;
        margin-right: auto;
        margin-left: auto;
    }  
    .eneroo_img {
        height: auto; 
        max-width: 100%; 
        display: block;
        margin: 0 auto; 
    }

    .drop_down_header {
        padding: 0px 10px;
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 300px;
        height: 80px;
    }

    button {
        font-weight: 600;
        padding-right: 15px;
        padding-left: 15px;
        height: 50px;
    }

    h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }
    
    h2 {
        font-weight: 600;
        font-size: 2rem;
    }

    p {
        line-height: 2rem;
        font-size: 1.2rem;
    }

    .contact {
        display: flex;
        gap: 25px;
    }

    .contact_form {
        width: 50%;
    }  

    .eneroo_img {
        width: 50%;
    }

    .drop_down:first-of-type .drop_down_body ul {
        line-height: 4rem;
    }

    .drop_down_header {
        padding: 0px 30px;
        font-size: 1.5rem;
    }

    .drop_down_body {
        font-size: 1.2rem;
    }
}   

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Poppins', sans-serif;
    color: #00171F;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    display: flex;
    flex-direction: column;
}

section {
    margin-top: 60px;
}

section:last-child {
    margin-bottom: 60px;
}

.article {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
}

.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 0 25px;
}

button {
    border: 0px;
    border-radius: 25px;
    background-color: rgba(20, 160, 192,);
    color: white;
}

button:hover {
    background-color: rgba(20, 160, 192, 0.5);
}


.logo {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.drop_down {
    border: 1px solid #999999;
    background-color: rgba(247, 249, 252, 1);
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    margin: 25px 0;
    transition: border-color 0.3s ease;
}

.drop_down summary {
    display: block;
    padding: 5px; /* Consistent padding */
    border-radius: 25px; /* Matches the main border */
    cursor: pointer;
    margin: -1px;
}


.drop_down_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop_down_body {
    padding: 0 30px
}

.drop_down_body > ul {
    padding-inline-start: 20px;
}

details[open] .drop_down_body {
    display: block;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

details {

    box-sizing: border-box;
}

summary {

    list-style: none;
}

details .fas {
    transition: transform 0.3s ease;
}

details[open] .fas {
    transform: rotate(180deg);
}

.drop_down:first-of-type .drop_down_body ul {
    list-style-type: none;
}

.contact {
    align-items: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    border: 1px solid #999999;
    border-radius: 25px;
    gap: 40px;
    height: auto;
}

.contact_form input,
.contact_form textarea {
    padding-left: 20px;
    border: 1px solid #999999;
    background-color: rgba(247, 249, 252, 1);
    border-radius: 25px;
    height: 50px;
    font-size: 1.2rem;
}

.eneroo_img {
    object-fit: contain;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer {
    background-color: #00171F;
}

.legal {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 40px;
}
.legal > a {
    color: white;
    padding: 5px;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.legal > p {
    padding: 5px;
}
.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 40px;
}   
    

.social-icons a {
    text-decoration: none;
    color: #14A0C0;
    font-size: 24px;
    transition: color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #14A0C0;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}


.social-icons a:hover {
    color: rgba(20, 160, 192, 0.5);
    border-color: rgba(20, 160, 192, 0.5);
}

