@media (max-width: 768px) {
    .logo {
        width: 200px;
        height: 80px;
    }

    h1 {
        font-weight: 600;
        font-size: 2rem;
    }

    h2 {
        font-weight: 500;
        font-size: 1.5rem;
    }

    p {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
    }

    .contact_button {
        width: 100%;
    }

    button {
        font-weight: 500;
        padding-right: 15px;
        padding-left: 15px;
        height: 40px;
        width: 100%;
    }

    .enerooo_img {
        height: auto;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .drop_down_header {
        padding: 0px 10px;
        font-size: 1rem;
    }

    .ilustration_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image {
        margin-left: auto;
        margin-right: auto;
    }

    .code-item {
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .img_text {
        flex-direction: column;
        padding: 0px;
    }
}

@media (min-width: 768px) and (max-width: 880px_) {
    .enerooo_img {
        margin: 25px;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 300px;
        height: 80px;
    }

    button {
        font-weight: 600;
        padding-right: 15px;
        padding-left: 15px;
        height: 50px;
    }

    h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }

    h2 {
        font-weight: 600;
        font-size: 2rem;
    }

    p {
        line-height: 2rem;
        font-size: 1.2rem;
    }

    .topology {
        display: flex;
    }


    .enerooo_img {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .drop_down:first-of-type .drop_down_body ul {
        line-height: 4rem;
    }

    .drop_down_header {
        padding: 0px 30px;
        font-size: 1.5rem;
    }

    .drop_down_body {
        font-size: 1.2rem;
    }

    .ilustration_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .img_text {
        gap: 15px;
    }

    .img_text > p {
        max-width: 50%;
    }
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #00171F;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

section {
    margin-top: 60px;
}

section:last-child {
    margin-bottom: 60px;
}


.contact_form {
    padding: 40px 30px;
    border: 1px solid #999999;
    border-radius: 25px;
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
}

.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 0 25px;
}

button {
    border: 0px;
    border-radius: 25px;
    background-color: rgb(20, 160, 192);
    color: white;
}

button:hover {
    background-color: rgba(20, 160, 192, 0.5);
}


.logo {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.drop_down {
    border: 1px solid #999999;
    background-color: rgba(247, 249, 252, 1);
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    margin: 25px 0;
    transition: border-color 0.3s ease;
}

.drop_down summary {
    display: block;
    padding: 5px;
    /* Consistent padding */
    border-radius: 25px;
    /* Matches the main border */
    cursor: pointer;
    margin: -1px;
}


.drop_down_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop_down_body {
    padding: 0 30px
}

.drop_down_body>ul {
    padding-inline-start: 20px;
}

details[open] .drop_down_body {
    display: block;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

details {

    box-sizing: border-box;
}

summary {

    list-style: none;
}

details .fas {
    transition: transform 0.3s ease;
}

details[open] .fas {
    transform: rotate(180deg);
}

.drop_down:first-of-type .drop_down_body ul {
    list-style-type: none;
}

.enerooo_img {
    object-fit: contain;

    max-height: 750px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer {
    background-color: #00171F;
}

.legal {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 40px;
}

.legal>a {
    color: white;
    padding: 5px;
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.legal>p {
    padding: 5px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 40px;
}


.social-icons a {
    text-decoration: none;
    color: #14A0C0;
    font-size: 24px;
    transition: color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #14A0C0;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}


.social-icons a:hover {
    color: rgba(20, 160, 192, 0.5);
    border-color: rgba(20, 160, 192, 0.5);
}

.ilustration_wrapper {
    background-color: #14A0C0;
    padding: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.image {
    width: 50%;
    object-fit: contain;
}

.description_item {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    position: relative;
}

.description_item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;  /* Výška ohraničení */
    background: linear-gradient(to right, 
        rgba(255, 255, 255, 0) 0%,  /* Začátek – úplná průhlednost */
        rgba(255, 255, 255, 1) 50%, /* Střed – plně sytá bílá */
        rgba(255, 255, 255, 0) 100% /* Konec – úplná průhlednost */
    );
}


.description_text {
    display: flex;
    gap: 15px;
    align-items: center;
}

.ilustration_wrapper_image {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper_image {
    width: 50px;
    display: flex;
    justify-content: center;
}

.number {
    width: 25px;
    height: 25px;
}


.description_wrapper {
    background-color: #01CC9B;
    padding: 30px;
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.description_header {
    font-weight: bold;
}

.code {
    font-family: 'Inter', sans-serif;
}

.code-item {
    display: inline-block;
    color: #01CC9B;
    background-color: white;
    border-radius: 25px;
    padding: 0px 10px;
    margin-right: 5px;
    font-weight: bold;
}

.description {
    padding-left: 40px;
}

.img_text {
    display: flex;
    align-items: top;
}

.img_text > img {
    max-height: 500px;
}

