<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Přinášíme chytrá řešení pro panelové a bytové domy s využitím IoT technologií a solární energie." name="description">
  <title>Enerooo</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head> 
<body>
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
</body>

<footer>
  <div class="social-icons">
    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://x.com" target="_blank" aria-label="X"><i class="fab fa-twitter"></i></a>
    <a href="https://instagram.com" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>    
  </div>
  <div class="legal">
    <a href="">Privacy Policy</a>
    <p>&middot;</p>
    <a href="">Legal</a>
    <p>&middot;</p>
    <p>&copy; 2024. All rights reserved.</p>
  </div>
</footer>

</html>