{% extends "base.html" %}

{% block content %}
<header>
    <div class="header">
        <a href=""><img class="logo" src="images/enerooo-logo-pos.svg" alt="Logo ENEROOO"></a>
        <a href="#contact" class="contact_button"><button>KONTAKTUJTE NÁS</button></a>
    </div>
</header>
<section>
    <h1>Revoluce v bytové a domovní energetice</h1>
    {#
    <p>Na český trh přichází zcela nová společnost ENEROOO, která se zaměří na inovativní smart řešení v oblasti
        energetiky pro panelové a bytové domy. Cílem je modernizovat systémy řízení energií, což umožní úspory a
        efektivní využití energií.</p>
        #}
</section>

<section>
    <h2>Systémový koncept</h2>
    <div class="ilustration_wrapper">
        <img class="image" src="images/enerooo-house.webp" alt="Model domu">
        <div>
        {% for ilustration_wrapper in config.extra.description_list %}
        <div class="description_item">
            <div class="description_text">
                <img class="number" src="{{ ilustration_wrapper.number }}" alt="{{ ilustration_wrapper.number_alt }}">
                <p>{{ ilustration_wrapper.description }}</p>
            </div>
            <div class="wrapper_image">
            <img class="ilustration_wrapper_image" src="{{ ilustration_wrapper.image }}" alt="{{ ilustration_wrapper.alt }}">
         </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="description_wrapper">

        {% for description_wrapper in config.extra.description %}
    <div class="grid_wrapper">
        <div class="description_text">
            <img class="number" src="{{ description_wrapper.number }}" alt="{{ description_wrapper.number_alt }}">

            <p class="description_header">{{ description_wrapper.header }}</p>

            {% if description_wrapper.code | length > 0 %}
            <p class="code">
                {% for c in description_wrapper.code %}
                <span class="code-item">{{ c }}</span>
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <ul class="description">
            {% for item in description_wrapper.description %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
        {% endfor %}

    </div>
</section>

<section>
    <h2>Přehledná správa energie na jednom místě</h2>
    <div class="img_text">
        <div>
            <h3>Přehled spotřeby energie</h3>
            <ul class="circle">
                <li>Sledujte aktuální i historická data pomocí přehledných grafů.
                </li>
            </ul>
            <h3>Ovládání chytrých prvků</h3>
            <ul class="circle">
                <li>Jednoduše spravujte zásuvky, světla nebo vytápění odkudkoliv.</li>
            </ul>
            <h3>Bezpečné ukládání dat</h3>
            <ul class="circle">
                <li>Všechny informace jsou bezpečně uložené v ENEROOO Cloudu.</li>
            </ul>
            <h3>Intuitivní ovládání</h3>
            <ul class="circle">
                <li>Mobilní a webová aplikace nabízí snadné a přehledné rozhraní pro každodenní použití.</li>
            </ul>
        </div>
        <img class="image" src="images/enerooo-mobile-app.webp" alt="Mobilní aplikace">
    </div>
</section>

<section>
    <h2>Topologie našeho systému</h2>
    <div class="topology">
        <img class="enerooo_img" src="images/enerooo-topology.webp" alt="ENEROOO Topology">
    </div>
</section>

<section class="contact" id="contact">
    <h2>Jste potenciální zájemce či montážní partner? Kontaktujte nás!</h2>
    <div class="contact_form">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
        <script>
            hbspt.forms.create({
                portalId: "5453210",
                formId: "009d9d94-6f67-40b5-bf85-42fe0815ea52"
            });
        </script>
    </div>
</section>

<section>
    <h2>Často kladené dotazy</h2>
    {% for drop_down in config.extra.drop_down %}
    <div class="drop_down">
        <details>
            <summary>
                <h3 class="drop_down_header">
                    <span class="title_text">{{ drop_down.title }}</span>
                    <i class="fas fa-chevron-down"></i>
                </h3>
            </summary>
            <div class="drop_down_body">
                <ul>
                    {% for item in drop_down.description %}
                    <li>{{ item | safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        </details>
    </div>
    {% endfor %}
</section>
{% endblock %}